<div class="col-xs-6 col-md-3">
  <%= link_to product_path(clean) do %>
    <% if clean.image.present? %>
      <%= image_tag(clean.image.medium.url, class: "mediumnail") %>
    <% else %>
      <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "mediumnail") %>
    <% end %>
  <% end %>

</div>
