<div class="menu-wrap">
  <ul class="menuList clearfix w1200 f16 bc">
    <li class="menuList-item menuList-activeItem fl pl20 pr20">
      <%= link_to("所有商品", products_path)%>
    </li>

    <li class="menuList-item fl">
       护肤
    </li>
    <li class="menuList-item fl">
       彩妆
    </li>
    <li class="menuList-item fl">
       日化清洁
    </li>
  </ul>
</div>
