<hr>
<footer class="container" style="margin-top: 16px;">
<div style="margin-left:109px">
  <table class="table" style="border:0px" >
    <thead>
      <tr>
        <td style="border:0px">销售热线：020-66666666</td>
        <td>简介</td>
        <td>合作</td>
        <td>帮助</td>
        <td>导航</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="border:0px">客户热线：020-88888888</td>
        <td style="border:0px">关于我们</td>
        <td style="border:0px">加入我们</td>
        <td style="border:0px">帮助中心</td>
        <td style="border:0px">网站地图</td>
      </tr>
      <tr>
        <td style="border:0px">Email:job_listing@gmail.com</td>
        <td style="border:0px">服务声明</td>
        <td style="border:0px">联系我们</td>
        <td style="border:0px">常见问题</td>
        <td style="border:0px">职位搜索</td>
    </tr>
    <tr>
      <td style="border:0px">销售热线：020-66666666</td>
      <td style="border:0px">媒体报道</td>
      <td style="border:0px">友情链接</td>
      <td style="border:0px">新手引导</td>
      <td style="border:0px">简历中心</td>
  </tr>
  <tr>

    <td style="border:0px">关于我们</td>
    <td style="border:0px">加入我们</td>
    <td style="border:0px">帮助中心</td>
    <td style="border:0px">网站地图</td>
</tr>
    </tbody>
  </table>
</div>
    <p class="text-center">Copyright ©2017 Reborn
        <br>Design by baohua && yanni 未经授权，不得转载
    </p>
</footer>
